body{
    background-image: url('images/bg.jpg') ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-size: cover;
    color: white;
    font-weight: bold;
}
h1{
    color: goldenrod;
  
}

#message-el{
   font-style: italic;
}

.strtbtn{
    color :#016f32;
    background-color: goldenrod;
    /* width: 150px; */
    border: none;
    font-size:medium;
    font-weight: bold;
    padding: 8px 40px 8px 40px;  /*tlbr */
    border-radius: 5px;
    text-transform: uppercase;
}